.container-works {
  // padding-left: 15px;
  // padding-right: 15px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
  
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  
  margin-bottom: 50px;
  min-width: 73px;
}
.works__item {
  margin-right: 8px;
  margin-bottom: 15px;
  width: calc(100% / 3 -30px);
}
.works__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: var(--second-white-color);
  @include font(16px, 500, 1.62, 0.03em);
  color: var(--grey-color);
  border: 1px solid #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--light-blue-color);
    color: white;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.12), 0px 1px rgba(0, 0, 0, 0.08),
      0px 3px rgba(0, 0, 0, 0.1);
  }
}
