:root {
  --white-color: #ffffff;
  --grey-color: #212121;
  --logo-color: black;
  --light-grey-color: #757575;
  --light-blue-color: #2196f3;
  --medium-light-grey-color: #2f303a;
  --second-white-color: #f5f4fa;
  --header-background-color: #ececec;
}